@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>New User Click Here <a asp-area="" asp-controller="Account" asp-action="signup">Register</a></p>
</div>
