@model Domain.User.UserProfile
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <form asp-controller="Account" asp-action="Signup" method="POST">
        <div class="msg">Register a new membership</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">person</i>
            </span>
            <div class="form-line">
                <input type="text" class="form-control" asp-for="userName" name="userName" placeholder="User Name" autofocus>
            </div>
            <div>
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">email</i>
            </span>
            <div class="form-line">
                <input type="email" class="form-control" asp-for="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">lock</i>
            </span>
            <div class="form-line">
                <input type="password" class="form-control" asp-for="password" name="password" minlength="8" placeholder="Password">
            </div>
            <div>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">lock</i>
            </span>
            <div class="form-line">
                <input type="password" class="form-control" asp-for="confirmPassword" name="confirmPassword" minlength="8" placeholder="Confirm Password">
            </div>
            <div>
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="material-icons">phone</i>
            </span>
            <div class="form-line">
                <input type="number" class="form-control" asp-for="phone" name="phone" placeholder="Phone">
            </div>
            <div>
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" asp-for="terms" name="terms" id="terms" class="filled-in chk-col-pink">
            <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
            <div>
                <span asp-validation-for="terms" class="text-danger"></span>
            </div>
        </div>

        <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

        <div class="m-t-25 m-b--5 align-center">
            <a asp-area="Admin" asp-controller="Account" asp-action="Signin">You already have a membership?</a>
        </div>
    </form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}